@page
@model BuildingMaterials.Pages.Registrations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Создать</h1>

<h4>Регистрация</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" name="createRegistration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Registration.Facility" class="control-label"></label>
                <select asp-for="Registration.FacilityID" class="form-control" asp-items="@Model.FacilityNameFL">
                    <option value="">
                        -- Объект --
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Registration.Warehouse" class="control-label"></label>
                <select asp-for="Registration.WarehouseID" class="form-control" asp-items="@Model.MaterialNameML">
                    <option value="">
                        -- Выбрать материал --
                    </option>
                </select>
                <span asp-validation-for="Registration.WarehouseID" class="text-danger" />
            </div>

            <div class="form-group">
                <label asp-for="Registration.Quantity" class="control-label"></label>
                <input asp-for="Registration.Quantity" class="form-control" />
                <span asp-validation-for="Registration.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Registration.Unit" class="control-label"></label>
                <input asp-for="Registration.Unit" class="form-control" disabled />
                <span asp-validation-for="Registration.Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.RegistrationDate" class="control-label"></label>
                <input id="registrationDate" asp-for="Registration.RegistrationDate" class="form-control" disabled />
                <span asp-validation-for="Registration.RegistrationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}   
}