@page
@model IndexModel
@{
    ViewData["Title"] = "Домашняя";
}
<link rel="stylesheet" href="~/css/custom-style.css" />

<div id="showcase">
    <div class="greeting">
        <h1>Добро пожаловать!</h1>
    </div>

    <div class="boxes">
        <div class="box-1">
            <div class="box-text">
                <p>
                    Building Materials – это приложение, которое упрощает работу учета стройматериалов на строительную площадку. Построено на основе Entity Framework Core в веб-приложении Razor Pages ASP.NET Core
                </p>
            </div>
        </div>
        <div class="box-2">
            <div class="box-text">

                <p>
                    Вы можете скачать готовый проект с GitHub.
                </p>
                <p>
                    <a href="https://github.com/Yevgeniy-Dan/BuildingMaterials">См. Исходный код проекта</a>
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    /* удалить класс container из Layout.cshtml, 
    чтобы отобразить фон домашней страницы на весь экран*/
    document.addEventListener('DOMContentLoaded', function () {
        const deleted = document.querySelector('.deleted');
        deleted.classList.remove('container');
        console.log(deleted.className);
    })
</script>